@model LoginCli

@{
    ViewBag.Title = "Identification";
}
<style>
    .deco {
        visibility: hidden;
    }
</style>
<h2>S'identifier</h2>

<div class="container">
    @using (Html.BeginForm("Login", "Home"))
    {
        @Html.ValidationSummary()
        @Html.LabelFor(m => m.Login)
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MDP)
        @Html.PasswordFor(m => m.MDP, new { @class = "form-control" })
         
        <button type="submit" name="valider" class="button"> Valider</button>
    }

</div>